<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
    <body>
        <header class="p-3 mb-3 border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <h3 class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">{{ title }}</h3>
                    <div class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></div>
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input class="form-control" id="searchInput" placeholder="Search...">
                    </form>
                </div>
            </div>  
        </header>
        <div class="table-responsive">
            <table id="dt" class="table table-bordered table-sm table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Author</th>
                        <th>Added</th>
                        <th>Renew</th>
                        <th>Downloaded</th>
                        <th>Downloads</th>
                    </tr>
                </thead>
                <tbody>
            {% for item in body: %}
                <tr>
                    <td><a href="{{ item[1] }}">{{ item[0] }}</a></td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                    <td>{{ item[6] }}</td>
                    <td>{{ item[7] }}</td>
                    <td>{{ item[8] }}</td>
                    <td>
                        <ul>
                        {% for link in item[9] %}
                            <li>{{ link }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>

    <footer claass="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">bigvik@2022</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#searchInput").keyup(function () {
                var value = $(this).val().toLowerCase();
                $("tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });

		$('th').click(function(){
			var table = $(this).parents('table').eq(0)
			var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
			this.asc = !this.asc
			if (!this.asc){rows = rows.reverse()}
			for (var i = 0; i < rows.length; i++){table.append(rows[i])}
		})
																										
		function comparer(index) {
			return function(a, b) {
				var valA = getCellValue(a, index), valB = getCellValue(b, index)
				return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
			}
		}
        
		function getCellValue(row, index){ return $(row).children('td').eq(index).text() }
    </script>
    </body>
</html>